html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav{
	display: flex;
	position: absolute;
	top: 0;
	flex-wrap: wrap;
	color: white;
	width:100%;
	padding: 1em 5em
}

nav ul{}

ul{

	list-style: none;
	display: flex;
	width:75%;
	justify-content: flex-end;
	gap:5em;
}

ul > li:hover{
	cursor: pointer
}
