 @font-face {
    font-family: 'Storybook';
    src: url('../public/Storyboo.TTF');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

.nav{
  font-family: Storybook;
  font-size: 1.2em
}
.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/background.jpeg');
  background-size:100% 100%;
  overflow: hidden;
}
.main2 {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  color:black;
}
.main3 {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px),
  url('https://www.publicdomainpictures.net/pictures/330000/velka/image-1586716592K15.jpg');
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px, cover;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  color:black;
}

.main2 h1{
  position: absolute;
  text-align: center;
  width: 40%;
  top: 40vh;
  display: block;
  margin:auto
}

.main2 img{
  width: 90%;
  margin: auto;
  display: block;
  margin-top: 10vh;
}

.faq{

    display: contents;
}

.faq h1{
  top: 10em
}

.faq_box{
  position: absolute;
  top:26em;
  height: 35em;
  overflow: scroll
}

.faq_wrapper{
  width: 30em;
  margin: auto;
  top: 50vh;
  display: block;}

  .faq_wrapper span{
    float: right;
  }

  .faq_wrapper:hover{
    cursor: pointer
  }

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.hero{
  position: absolute;
  bottom: -5px;
  left: 1em;
  width: 80vh;
  overflow: hidden;
}

.hero img{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width:100%;
  filter: brightness(70%);
}

.hero p{
  position: absolute;
  top: 14vh;
  padding: 0em 5em;
  text-align: center;
  color: white;
  font-size: 16px;
  margin-left: 1em;

}
.hero button{
  margin-top: 10px;
  background: url(/Frame.png);
  background-size: 100%;
  outline: none;
  border: none;
  padding: 1.2em;
  color: white;
  font-family: 'Storybook'
}

.hero button:hover{
  cursor: pointer;
  opacity: 0.8
}

.countdown{
  background: url('/Frame copy.png');
  background-size: 100%;
  padding: 2.5em;
  background-repeat: no-repeat;
  color: white;
  position: absolute;
  right: 10vh;
  top: 30vh
}

.social{
  display: flex;
  gap:1em;
  margin-left: -2em;
  margin-right: 2em
}

.team_wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 1em
}

.team_item{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),url(/board.png);
  background-repeat: no-repeat;
  background-size: 100%;
  flex-basis: 33%;
  height:20em;
  font-family: Storybook;
  color: white;
  text-align:center;
  text-transform: uppercase;
  margin-top:4em;
}

.team_item p{
  margin-top: 9vh;
  letter-spacing: 2px
}

.team_item img{
  border-radius: 5px;
  transition: 0.5s all ease-out;

}

.team_item img:hover{
  opacity: 0.7;
  transition: 0.5s all ease-out;
}

.connect{
  border: 1px solid white;
  padding: 1em;
  position: absolute;
  right: 1em;
  top: 0em
}

.connect:hover{
  cursor: pointer;
  background: white;
  color: black
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .main{
    background-size: cover
  }

  .hero{
    width: 95%;
    bottom: -5px;
  }

  .hero p{
    height: 10em;
    overflow: scroll;
    margin-top: 0em
  }

  .countdown{
    right:6vh;
  }

  .main2{
    color: white;
    height: auto
  }

  .main2 img{
    display: none
  }

  .faq_wrapper{
    width: 85%
  }

  .faq h1{
    top: 20vh
  }

  .faq_box{
    top: 30vh;
  }

  .team_wrapper{
    margin-top: 20%;
  }

  .team_item{
    flex-basis: 100%
  }

  .navmenubar{
    width: 38vh
  }

  .social{
    display: none
  }

  .nav{
    font-size: 1em
  }
}
